/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dropbox-blue: #0061FF;
    --pastel-blue: #B4D0E7;
    --table-borders: #dedede;
    --gray: #909090;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #fff;
    max-width: 100%;
}

footer {
    background-color: #000;
    color: #fff;
}

/* Display */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.inline-block li {
    display: inline-block;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
/* LAYOUT */
.container-lg {
    width: 1000px;
    margin: 0 auto;
}

.container-sm {
    width: 900px;
    margin: 0 auto;
}

.container-full {
    width: 100%;
    margin: 0 auto;
}

.col-25 {
    width: 25%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-30 {
    width: 30%;
}

.col-50 {
    width: 50%;
    /* to take out later */
    border: 1px dashed black;
    background-color: yellow;
}

.col-70 {
    width: 70%;
}

.col-100 {
    width: 100%;
}

/* UTILITIES */
.my-40 {
    margin: 40px 0;
}

.mt-40 {
    margin-top: 40px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-40 {
    margin-left: 40px;
}

.p-ul {
    padding: 10px 10px 10px 20px;
}

.p-15 {
    padding: 15px;
}

.p-25 {
    padding: 20px;
}

.py-10 {
    padding: 10px 0;
}

.py-20 {
    padding: 20px 0;
}

.py-30 {
    padding: 30px 0;
}

.py-80 {
    padding: 80px 0;
}

.py-100 {
    padding: 100px 0;
}

.py-150 {
    padding: 150px 0;
}

.pt-half {
    padding-top: 50%;
}

.pt-100 {
    padding-top: 100px;
}

.pr-2 {
    padding-right: 2px;
}

.pr-50 {
    padding-right: 50px;
}

.pb-0 {
    padding-bottom: 0 !important;
}

/* STYLES */
/* Bg area */
.bg-pastelblue {
    background-color: var(--pastel-blue);
}

/* Other styles */
.header-col {
    width: 50%;
}

header li {
    list-style-type: none;
    margin: 0 20px;
}

.btn-16 {
    font-size: 16px;
}

button {
    background-color: var(--dropbox-blue);
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
}

.decoration-none {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 70px;
    font-weight: 900;
}

.jumbo-img {
    width: 950px;
    top: 230px;
    left: 320px
}

.content-hero>i {
    font-size: 50px;
    top: 600px;
    right: 965px;
}

h2 {
    font-size: 36px;
    padding-bottom: 50px;
}

.content-plan-title, .content {
    padding: 10px;
    border: 1px solid var(--table-borders);
}

.content-plan-title>i, .content-plan-title>div {
    padding-right: 8px;
    font-size: 14px;
}

.content {
    padding: 30px;
}

.content h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.content h5 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
}

.content p:first-of-type {
    color: var(--gray);    
}

.content p {
    font-size: 14px;
    margin-bottom: 20px;
}

.content i {
    padding-right: 5px;
}

.content i, .content span {
    font-size: 14px;
}

.p-style {
    color: #000 !important;
    padding: 30px 0;
}

.content>hr {
    width: 50px;
    border-top: 0.5px solid var(--table-borders);
    margin-bottom: 30px;
}

.fa-check {
    color: var(--dropbox-blue)
}

.self-start {
    align-self: flex-start;
}

.min-w {
    min-width: 200px;
}

.partners {
    width: 600px;
}

.partners-box {
    padding-top: 50px;
    padding-left: 50px;
}

.btn-color-style {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    margin-top: 30px;
    font-size: 16px;
}

.partners-box>h3 {
    margin-bottom: 20px;
}




.content-operations {
    /* to take out later */
    border: 1px solid black;
    background-color: #0061FF;
    height: 300px;
}

.faq {
    background-color: rgba(0, 0, 255, 0.413);
    border-top: 1px solid black;
}

.faq-box:last-child {
    border-bottom: 1px solid black;
}

.faq-box i {
    padding-right: 30px;
}

.footer-list {
    list-style-type: none;
}

.footer-list>li {
    padding: 5px 0;
}

.footer-list>li:first-child {
    font-weight: 900;
    font-size: 18px;
    padding: 15px 0;
}

.footer-list a {
    color: #fff;
}

.lang {
    padding: 50px 0
}

.lang>* {
    padding-right: 6px;
    font-size: 14px;
    color: var(--table-borders);
}

h5 {
    font-weight: 500;
}

.container-lg>hr {
    width: 100px;
}