/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dropbox-blue: #0061FF;
    --pastel-blue: #B4D0E7;
    --table-borders: #dedede;
    --gray: #909090;
    --pastel-mint: #D1E9CD;
    --celadon: #A2D39B;
    --mulberry-purple: #61082B;
    --electric-blue: #0093CE;
    --neon-red: #FF1C1C;
    --lava: #D5001F;
    --beau-blue: #B4D0E7;
    --resolution-blue: #0D2481;
    --golden: #FFD830;
    --white: #fff;
    --black: #000;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    width: 100%;
    z-index: 1;
    box-shadow: 0 1px var(--table-borders);
}

footer {
    color: var(--white);
}

/* Display */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

/* --- TO WORK OUT ---
.flex-1 {
    flex: 1;
} */

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.inline-block li {
    display: inline-block;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.gap-40 {
    row-gap: 40px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}
/* LAYOUT */
.container-lg {
    width: 1200px;
    margin: 0 auto;
}

.container-sm {
    width: 1000px;
    margin: 0 auto;
}

.container-full {
    width: 100%;
    margin: 0 auto;
}

.col-25 {
    width: 25%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-30 {
    width: 30%;
}

.col-50 {
    width: 50%;
}

.col-70 {
    width: 70%;
}

.col-100 {
    width: 100%;
}

/* UTILITIES */
.m-10 {
    margin: 10px;
}

.my-40 {
    margin: 40px 0;
}

.mt-40 {
    margin-top: 40px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-30 {
    margin-left: 30px;
}

.p-ul {
    padding: 10px 10px 10px 20px;
}

.p-10 {
    padding: 10px;
}

.p-13 {
    padding: 13px;
}

.p-25 {
    padding: 20px;
}

.p-50 {
    padding: 50px;
}

.py-10 {
    padding: 10px 0;
}

.py-20 {
    padding: 20px 0;
}

.py-30 {
    padding: 30px 0;
}

.py-45 {
    padding: 45px 0;
}

.py-80 {
    padding: 80px 0;
}

.py-100 {
    padding: 100px 0;
}

.py-150 {
    padding: 150px 0;
}

.pt-100 {
    padding-top: 100px;
}

.pr-2 {
    padding-right: 2px;
}

.pr-25 {
    padding-right: 25px;
}

.pr-50 {
    padding-right: 50px;
}

.pb-0 {
    padding-bottom: 0 !important;
}

/* STYLES */
/* Bg area */
.bg-pastelblue {
    background-color: var(--pastel-blue);
}

.bg-pastelmint {
    background-color: var(--pastel-mint);
}

.bg-celadon {
    background-color: var(--celadon);
}

.bg-mulberry {
   background-color: var(--mulberry-purple); 
}

.bg-electricblue {
background-color: var(--electric-blue);
}

.bg-neonred {
background-color: var(--neon-red);
}

.bg-lava {
background-color: var(--lava);
}

.bg-beaublue {
background-color: var(--beau-blue);
}

.bg-resolutionblue {
background-color: var(--resolution-blue);
}

.bg-golden {
background-color: var(--golden);
}

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

/* Other styles */
.header-col {
    width: 50%;
}

#logo {
    cursor: pointer;
}

header li {
    list-style-type: none;
    margin: 0 20px;
}

.btn-16 {
    font-size: 16px;
}

button {
    background-color: var(--dropbox-blue);
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    color: var(--white);
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.decoration-none {
    text-decoration: none;
    color: var(--black);
}

h1 {
    font-size: 80px;
    font-weight: 900;
    padding-top: 70px;
}

.jumbo-img {
    width: 900px;
    top: 330px;
    left: 350px
}

.content-hero>i {
    font-size: 50px;
    top: 670px;
    right: 1160px;
}

h2 {
    font-size: 36px;
    padding-bottom: 50px;
}

.content-plan-title, .content {
    border: 1px solid var(--table-borders);
}

.content-plan-title>i, .content-plan-title>div {
    padding-right: 8px;
    font-size: 14px;
}

.box-size {
    height: 200px;
}

.content {
    padding: 30px 20px;
}

.content h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.content h5 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
}

.content p:first-of-type {
    color: var(--gray);    
}

.content p {
    font-size: 14px;
    margin-bottom: 20px;
}

.content i {
    padding-right: 5px;
}

.content i, .content span {
    font-size: 14px;
}

.p-style {
    color: var(--black) !important;
    padding: 30px 0;
}

.content>hr {
    width: 50px;
    border-top: 0.5px solid var(--table-borders);
    margin-bottom: 30px;
}

.fa-check {
    color: var(--dropbox-blue)
}

.self-start {
    align-self: flex-start;
}

.min-w {
    min-width: 200px;
}

.partners {
    width: 600px;
}

.partners-box {
    padding-top: 50px;
    padding-left: 50px;
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid var(--black);
    color: var(--black);
    margin-top: 30px;
    font-size: 16px;
}

.partners-box>h3, .content-operations>h3 {
    margin-bottom: 25px;
    font-size: 20px;
}

.content-operations img {
    width: 250px;
}

.ratio-1 {
    aspect-ratio: 1;
}

.container-full img.white-filter {
    width: 100px;
}

.container-full hr {
    width: 100px;
    border-top: 0.5px solid var(--table-borders);
    margin: 30px 0;
}

.white-filter {
    filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(293deg) brightness(109%) contrast(96%);
}

.collab-content>p:last-of-type {
    margin-top: 40px;
}

.svg-lg {
    width: 200px;
}

.color-mulberry {
    color: var(--mulberry-purple)
}

.btn-style {
    color: var(--black);
    margin-top: 10px;
    padding-top: 10px;
    width: 300px;
    font-size: 15px;
}

.bg-pastelblue h2 {
    font-size: 40px;
}

.faq {
    border-top: 1px solid black;
}

.faq:first-of-type {
    margin-top: 10px;
}

.faq-box:last-child {
    border-bottom: 1px solid black;
}

.faq-box i {
    padding-right: 30px;
}

.faq>p {
    font-weight: 700;
}

.footer-list {
    list-style-type: none;
}

.footer-list>li {
    padding: 8px 0;
}

.footer-list>li:first-child {
    font-weight: 900;
    font-size: 18px;
    padding: 18px 0;
}

.footer-list a {
    color: var(--white);
}

.lang {
    padding: 50px 0
}

.lang>* {
    padding-right: 6px;
    font-size: 14px;
    color: var(--table-borders);
}

h5 {
    font-weight: 500;
}

.container-lg>hr {
    width: 100px;
}