/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dropbox-blue: #0061FF;
    --pastel-blue: #B4D0E7;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* colored block: to take out later */
header {
    background-color: #fff;
    max-width: 100%;
}

footer {
    background-color: #000;
    color: #fff;
}

/* Display */
.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.inline-block li {
    display: inline-block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* to take out later */
    border: 1px black solid;
}

/* LAYOUT */
.container-lg {
    width: 1200px;
    margin: 0 auto;
}

.container-sm {
    width: 1000px;
    margin: 0 auto;
}

.container-full {
    width: 100%;
    margin: 0 auto;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
    /* to take out later */
    height: 300px;
    border: 1px dashed black;
}

.col-33 {
    width: calc(100% / 3);
    /* to take out later */
    border: 1px dashed black;
}

.col-50 {
    width: 50%;
    /* to take out later */
    border: 1px dashed black;
    background-color: yellow;
}

.col-70 {
    width: 70%;
    /* to take out later */
    border: 1px dashed black;
}

.col-100 {
    width: 100%;
    /* to take out later */
    border: 1px dashed black;
}

/* UTILITIES */
.p-ul {
    padding: 10px 10px 10px 20px;
}

.p-25 {
    padding: 20px;
}

.py-30 {
    padding: 30px 0;
}

.py-80 {
    padding: 80px 0;
}

.py-100 {
    padding: 100px 0;
}

.py-150 {
    padding: 150px 0;
}

.pt-half {
    padding-top: 50%;
}

.pt-100 {
    padding-top: 100px;
}

.pr-2 {
    padding-right: 2px;
}

/* STYLES */
/* Bg area */
.bg-pastelblue {
    background-color: var(--pastel-blue);
}

/* Other styles */
.header-col {
    width: 50%;
}

header li {
    list-style-type: none;
    margin: 0 20px;
}

button {
    background-color: var(--dropbox-blue);
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    color: #fff;
}

.content-hero {
    /* to take out later */
    border: 1px solid black;
    background-color: #0061FF;
    height: 300px;
}

.content {
    /* to take out later */
    border: 1px solid black;
    background-color: #0061FF;
    height: 500px;
}

.content-plane-title {
    /* to take out later */
    border: 1px solid black;
    background-color: #0061FF;
    height: 20px;
}

.content-plane-info {
    /* to take out later */
    border: 1px solid black;
    background-color: #0061FF;
    height: 100px;
}

.content-operations {
    /* to take out later */
    border: 1px solid black;
    background-color: #0061FF;
    height: 300px;
}

/* to take out after */
.placeholder {
    width: 500px;
    height: 500px;
    background-color: violet;
}

.faq {
    background-color: rgba(0, 0, 255, 0.413);
    border-top: 1px solid black;
}

.faq-box:last-child {
    border-bottom: 1px solid black;
}

.faq-box i {
    padding-right: 30px;
}

.footer-list {
    list-style-type: none;
}

.footer-list>li {
    padding: 5px 0;
}

.footer-list>li:first-child {
    font-weight: 900;
    font-size: 18px;
    padding: 15px 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.lang {
    padding: 50px 0
}

.lang>* {
    padding-right: 6px;
    font-size: 14px;
    color: gray;
}

h5 {
    font-weight: 500;
}

.container-lg>hr {
    width: 100px;
}